@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;

}
.nav-item{
    color: black;
}
.admin {
    height: 60vh;
    background: linear-gradient(to bottom,
            rgba(0, 153, 145, 0),
            rgba(0, 0, 0, 70)), url('../images/adminbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-blank {
    height: 60vh;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
    font-weight: 900;
    font-size: 2rem;
}

.admin-map {
    color: aqua;
    font-weight: 900;
    font-size: 1.2rem;
}
.p-txt{
    font-weight: 900;
    font-size: 2rem; 
    background-color: rgba(255, 255, 255, 0.473);
    color: rgb(0, 0, 0);
    text-align: center;
}

.post-card{
    color: black;
    padding: 1.5%;
}

.navbar-x{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

   
}
.res-form{
    border: 2px solid black;
    padding: 2%;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 5px black;
    border-radius: 4px;
}
.resx{
    position: absolute;
    top: 38%;
    left: 18%;
    z-index: 2;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
}
.servicesx{
    position: absolute;
    top: 10%;
    left: 18%;
    z-index: 2;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ssx{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

.f-right{
    float: right;
}

.brt{
    border: 2px solid white;
    box-shadow: 0px 2px 5px white;
}

.neighsx{
    position: absolute;
    top: 10%;
    left: 18%;
    z-index: 2;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
/*========== components ==========*/


.btn {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    color: white;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    font-weight: 500;
}

.btn--link {
    border-radius: 0;
    padding: 0;
    color: black;
    box-shadow: none;
}

.btn--link:hover {
    text-decoration: underline;
}

.btn--main {
    background-color: black;
    color: white;
}

.btn:hover {
    opacity: 0.9;
}

.btn--dark {
    background-color: white;
    color: black;
}
.btn-transparent {
    background-color: transparent;
    border: none;
}
.btn-dark {
    border-radius: 0%;
    line-height: normal;
    font-size: 100%;
    margin: 0%;
    background-color: black;
    color: white;
    font-weight: 900;
    white-space: nowrap;
}
/*==============================
=>  Delete Item
================================*/

.delete-item.layout .layout__box {
    max-width: 68rem;
}

/*========== Layout Box ==========*/

.layout__box {
    width: 65%;
    max-width: 48rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    background-color: var(--color-dark);
    border-radius: 1rem;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
}

.layout__boxHeader {
    display: flex;
    padding: 1.5rem;
    background-color: var(--color-dark-light);
}

.layout__boxTitle {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.layout__boxTitle h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-light);
}

.layout__boxTitle svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: black;
}

.layout__body {
    margin: 3rem;
}

/* login */
.logo img {
    /* width: 10rem; */
    margin-bottom: 1rem;
}
.full_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.fm{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.form-data{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.form__group {
    margin-bottom: 2rem;
    width: 100%;
}
.bgx{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 110vh;
    background: linear-gradient(to bottom,
            rgba(0, 153, 145, 0),
            rgba(0, 0, 0, 5)), url('../images/adminbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.l-gx{
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.ressx{
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 4px;
    color: white;
    background-color: black;
    box-shadow: 0px 0px 5px black;
}
.dix{
    padding: 2%;
}

.form__group {
    margin-bottom: 1rem;
}

.form__split {
    display: flex;
    gap: 1rem;
}

.form__group label {
    display: block;
    font-size: 1rem;
    font-weight: 900;
}

.form__group input,
.form__group textarea,
.form__group select {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.411);
    padding: .5rem;
    border-radius: 3px;
    width: 100%;
    color: white;
    font-weight: 500;
    outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
    border-color: black;
}

.form__group textarea {
    background: transparent;
    height: 10rem;
    resize: none;
}

.form__group select {
    color: black;
    font-weight: 400;
}

.form__group select option {
    background-color: white;
    color: black;
    padding: 0 10rem;
}

.form__action {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

.form__hide {
    position: absolute;
    left: -9999px;
}

.form__avatar label {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-main);
    cursor: pointer;
}

.form__avatar label:hover {
    text-decoration: underline;
}
.form-btn {
    margin: 1rem 0 1.5rem;
    height: 3rem;
    background-color: #3897f0;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.has-separator {
    font-size: 1.3rem;
    color: white;
    position: relative;
    margin-bottom: 2rem;
}
.sl{
    box-shadow: 0px 0px 1px rgb(0, 238, 255);
}
.pcv{
    box-shadow: 0px 0px 4px rgb(211, 252, 255);
}
.btn>svg {
    fill: white;
    width: 1.6rem;
    height: 1.6rem;
}

.facebook-login {
    font-size: 1rem;
    font-weight: bold;
    color: #a0b9f0;
    margin-bottom: 1rem;

}

.facebook-login i {
    font-size: 1rem;
    margin-right: 0.7rem;
}

.password-reset {
    font-size: 1rem;
    color: white;

}

.sign-up {
    text-align: center;
    font-size: 1rem;
    color: white;
    padding: 1rem 0;
    margin: .5rem 0;
}
.sd{
    background-color: white;
    color: black;
}
.sign-up a {
    color: black;
    font-weight: 900;
    font-size: 1rem;
}

