.nav-item{
    color: black;
}
.admin {
    height: 60vh;
    background: linear-gradient(to bottom,
            rgba(0, 153, 145, 0),
            rgba(0, 0, 0, 70)), url('../images/adminbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-blank {
    height: 60vh;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
    font-weight: 900;
    font-size: 2rem;
}

.admin-map {
    color: aqua;
    font-weight: 900;
    font-size: 1.2rem;
}
.p-txt{
    font-weight: 900;
    font-size: 2rem; 
    background-color: rgba(255, 255, 255, 0.473);
    color: rgb(0, 0, 0);
    text-align: center;
}

.post-card{
    color: black;
    padding: 1.5%;
}
