@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --color-main: white;
    --color-main-light: white;
    --color-dark: white;
    --color-dark-medium: black;
    --color-dark-light: black;
    --color-light: white;
    --color-gray: white;
    --color-light-gray: black;
    --color-bg: black;
    --color-success: green;
    --color-error: red;
}

/*========== base styles ==========*/

* {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;

}

html {
    font-size: 56.25%;
}


body {
    line-height: 1.6;
    font-weight: 400;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    min-height: 100vh;
}

img {
    width: 100%;
}

.img-thumbnail {
    border-radius: 1px;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

/*========== components ==========*/


.btn {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    color: white;
    transition: all ease-in-out 0.3s;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    font-weight: 500;
}

.btn--link {
    border-radius: 0;
    padding: 0;
    color: black;
    box-shadow: none;
}

.btn--link:hover {
    text-decoration: underline;
}

.btn--main {
    background-color: black;
    color: white;
}

.btn:hover {
    opacity: 0.9;
}

.btn--dark {
    background-color: white;
    color: black;
}

.btn>svg {
    fill: currentColor;
    width: 1.6rem;
    height: 1.6rem;
}

.btn--pill {
    border-radius: 10rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 6px 2.5rem;
    color: black;
    background: transparent;
    border: 2px solid black;
}

.action-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.avatar {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid var(--color-main);
}

.avatar img {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.avatar::after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-gray);
    z-index: 111;
    border-radius: 50%;
    border: 0.3rem solid var(--color-dark);
}

.avatar.active::after {
    background-color: var(--color-success);
}

.avatar.avatar--small img {
    width: 2.8rem;
    height: 2.8rem;
}

.avatar.avatar--small:after {
    width: 0.7rem;
    height: 0.7rem;
    bottom: 0px;
    right: -6px;
}

.avatar.avatar--medium img {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
}

.avatar.avatar--medium:after {
    width: 0.7rem;
    height: 0.7rem;
    bottom: 0px;
    right: -6px;
}

.avatar.avatar--large img {
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.avatar.avatar--large:after {
    width: 1rem;
    height: 1rem;
    bottom: 2px;
    right: 3.5px;
}

.scroll::-webkit-scrollbar {
    width: 0.6rem;
    background-color: rgb(41, 41, 46);
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--color-gray);
}

.dropdown-menu {
    z-index: 111;
    position: absolute;
    top: 5rem;
    right: 0.5rem;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu a {
    padding: 1rem 4rem;
    display: block;
    color: black !important;
    font-weight: 500;
    font-size: 1.4rem;
}

.dropdown-menu a:hover {
    background-color: rgb(0, 0, 0);
    color: white !important;
}

.dropdown-menu>a:not(:last-child) {
    border-bottom: 1px solid var(--color-dark-medium);
}

.dropdown-menu a svg {
    fill: var(--color-light);
}

.mobile-menu {
    margin-bottom: 3rem;
}

.mobile-menuItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width: 500px) {
    .mobile-menu {
        display: none;
    }
}

/*==============================
=>  Header Section
================================*/

.header {
    padding: 1.5rem;
    background-color: var(--color-dark);
}

.header>.container {
    display: flex;
    gap: 9.5rem;
}

.header__logo,
.header__user {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header__logo>img {
    height: 3.2rem;
    width: 3.2rem;
}

.header__logo>h1 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-light);
}

.header__search>label {
    background-color: var(--color-dark-medium);
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 4px;
}

.header__search svg {
    fill: var(--color-gray);
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.header__search input {
    width: 30rem;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-light);
}

@media screen and (max-width: 800px) {
    .header__search input {
        width: 20rem;
    }

    .header>.container {
        gap: 3rem;
    }
}

@media screen and (max-width: 700px) {
    .header__logo h1 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .header__search {
        display: none;
    }
}

.header__menu {
    margin-left: auto;
    position: relative;
}

.header__menu a {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-gray);
}

.header__menu img {
    height: 3.6rem;
}

.header__menu p {
    line-height: 1.2;
}

.header__menu span {
    color: var(--color-main);
    font-weight: 500;
    font-size: 1.4rem;
    display: block;
}

.header__menu svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-dark-light);
}

.dropdown-button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.dropdown-button:hover svg {
    fill: black;
}

/*==============================
=>  Layout
================================*/

.layout {
    margin-top: 2.4rem;
}

.layout>.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.layout--3>.container>div:first-child {
    flex-basis: 18%;
    max-width: 22.5rem;
}

.layout--3>.container>div:nth-child(2) {
    flex-basis: 50%;
}

.layout--3>.container>div:last-child {
    flex-basis: 25%;
}

.layout--2>.container>div:first-child {
    flex-basis: 72%;
}

.layout--2>.container>div:last-child {
    flex-basis: 25%;
}

/*========== Layout Box ==========*/

.layout__box {
    width: 90%;
    max-width: 48rem;
    min-height: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    background-color: var(--color-dark);
    border-radius: 1rem;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
}

.layout__boxHeader {
    display: flex;
    padding: 1.5rem;
    background-color: var(--color-dark-light);
}

.layout__boxTitle {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.layout__boxTitle h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-light);
}

.layout__boxTitle svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: black;
}

.layout__body {
    margin: 3rem;
}

@media screen and (max-width: 900px) {

    .activities,
    .topics {
        display: none;
    }

    .layout--3>.container>div:nth-child(2) {
        flex-basis: 100%;
    }
}

/*==============================
=>  Topics
================================*/

.form__group {
    margin-bottom: 2rem;
    width: 100%;
}

.form__split {
    display: flex;
    gap: 1.5rem;
}

.form__group label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.form__group input,
.form__group textarea,
.form__group select {
    background: transparent;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 3px;
    width: 100%;
    color: black;
    font-weight: 500;
    outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
    border-color: black;
}

.form__group textarea {
    background: transparent;
    height: 10rem;
    resize: none;
}

.form__group select {
    color: black;
    font-weight: 400;
}

.form__group select option {
    background-color: white;
    color: black;
    padding: 0 10rem;
}

.form__action {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

.form__hide {
    position: absolute;
    left: -9999px;
}

.form__avatar label {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-main);
    cursor: pointer;
}

.form__avatar label:hover {
    text-decoration: underline;
}

/*==============================
=>  Topics
================================*/

.topics__header {
    margin-bottom: 2rem;
}

.topics__header h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-dark-light);
}

.topics__list {
    list-style: none;
}

.topics__list li a {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    font-weight: 500;
    color: var(--color-light-gray);
    transition: all 0.3s ease-in-out;
}

.topics__list li a.active,
.topics__list li a:hover {
    color: var(--color-main);
}

.topics__list li a span {
    padding: 0.5rem 1rem;
    background-color: var(--color-dark);
    border-radius: 3px;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.topics-page a:hover {
    text-decoration: underline;
}

.topics-page .topics__list li:not(:last-child) a {
    margin: 2rem 0;
    padding-bottom: 1rem;
    text-decoration: none;
    border-bottom: 1px solid var(--color-dark-medium);
}

.topics-page .header__search {
    display: block;
}

@media screen and (max-width: 500px) {
    .mobile-menu .header__search {
        display: block;
        margin-bottom: 2.4rem;
    }
}

/*==============================
=>  Room List
================================*/

.roomList__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
}

.roomList__header h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-light);
    letter-spacing: 1px;
}

.roomList__header p {
    font-weight: 500;
    color: var(--color-dark-light);
}

/*========== Room List Room ==========*/

.roomListRoom {
    margin-bottom: 2.4rem;
    background-color: var(--color-dark);
    border-radius: 1rem;
    padding: 2rem;
}

.roomListRoom__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roomListRoom__author {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.roomListRoom__actions {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
}

.roomListRoom__actions span {
    font-size: 1.4rem;
    font-weight: 500;
}

.roomListRoom__actions svg {
    fill: var(--color-main);

    width: 1.6rem;
    height: 1.6rem;
}

.roomListRoom__content {
    margin: 1rem 0;
}

.roomListRoom__content a {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: var(--color-light);
    transition: all 0.3s ease-in-out;
}

.roomListRoom__content a:hover {
    color: var(--color-main);
}

.roomListRoom__meta {
    border-top: 1px solid var(--color-dark-medium);
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.roomListRoom__joined {
    color: var(--color-light-gray);
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.roomListRoom__joined svg {
    fill: var(--color-main);
    width: 1.6rem;
    height: 1.6rem;
}

.roomListRoom__topic {
    padding: 5px 1.5rem;
    background-color: var(--color-dark-medium);
    border-radius: 5rem;
    font-weight: 500;
    font-size: 1.3rem;
}

/*==============================
=>  Activities
================================*/

.activities {
    background: var(--color-dark);
    border-radius: 5px;
    overflow: hidden;
}

.activities__header h2 {
    background-color: var(--color-dark-light);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem 1.5rem;
    color: var(--color-light);
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.activities__box {
    margin: 1.5rem;
    padding: 1.5rem;
    border: 2px solid var(--color-dark-medium);
    border-radius: 5px;
}

.activities__boxHeader p {
    font-size: 1.4rem;
    line-height: 1.3;
}

.activities__boxHeader p span {
    color: var(--color-gray);
    font-size: 1.2rem;
    display: block;
}

.activities__boxContent {
    margin-left: 4.2rem;
}

.activities__boxContent {
    font-size: 1.4rem;
}

.activities__boxContent a:hover {
    text-decoration: underline;
}

.activities__boxRoomContent {
    background: var(--color-bg);
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: -4.2rem;
}

.roomListRoom__actions svg {
    fill: var(--color-light-gray);
}

/*==============================
=>  Create Room
================================*/

.create-room.layout .layout__box {
    max-width: 68rem;
}

/*==============================
=>  Update Account
================================*/

.update-account.layout .layout__box {
    max-width: 68rem;
}

/*==============================
=>  Delete Item
================================*/

.delete-item.layout .layout__box {
    max-width: 68rem;
}

/*==============================
=>  Auth
================================*/

.auth__tagline {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--color-main);
    font-weight: 500;
    font-size: 1.8rem;
}

.auth .layout__boxHeader {
    text-align: center;
    justify-content: center;
}

.auth__action {
    margin-top: 3rem;
    text-align: center;
}

/*==============================
=>  Settings
================================*/

.settings__avatar {
    margin-bottom: 3rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.settings__avatar .avatar {
    margin: 1rem;
}

/*==============================
=>  Profile
================================*/
.profile {
    margin-bottom: 3rem;
}

.profile__avatar {
    text-align: center;
}

.profile__info {
    text-align: center;
}

.profile__info h3 {
    font-size: 2rem;
    color: var(--color-light);
    font-weight: 400;
}

.profile__info p {
    color: var(--color-main);
    font-weight: 500;
    margin-bottom: 1rem;
}

.profile__about {
    margin-top: 2rem;
}

.profile__about h3 {
    text-transform: uppercase;
    color: var(--color-dark-light);
    margin-bottom: 0.5rem;
}

.profile-page .roomList__header {
    margin-bottom: 1.5rem;
}

.profile-page .roomList__header h2 {
    color: var(--color-dark-light);
}

/*==============================
=>  Room
================================*/

.room,
.participants {
    background: var(--color-dark);
    max-height: 87.5vh;
    border-radius: 0.7rem;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 900px) {
    .participants {
        display: none;
    }

    .layout--2>.container>div:first-child {
        flex-basis: 100%;
    }
}

.room__top,
.participants__top {
    background: var(--color-dark-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
}

.room__top svg,
.thread__top svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: white;
    cursor: pointer;
}

.room__topLeft {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.room__topLeft h3,
.participants__top {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-light);
}

.room__topLeft svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: white;
}

.room__topRight {
    display: flex;
    column-gap: 1em;
}

.room__topRight svg {
    fill: white;
}

.room__header {
    max-height: 30vh;
    overflow-y: auto;
    position: absolute;
    width: 95%;
    background: var(--color-dark);
    z-index: 999;
    top: 4.4rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 500px) {
    .room__header {
        top: 4.3rem;
        padding-right: 2rem;
    }
}

.room__box {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 80.5vh;
    /* overflow-y: auto; */
    padding-bottom: 0;
}

@media screen and (max-width: 500px) {
    .room__box {
        padding-left: 2.5rem;
        padding-right: 2rem;
        height: 80.5vh;
        overflow-y: auto;
        padding-bottom: 0;
    }
}

.room__info {
    display: flex;
    justify-content: space-between;
}

.room__info h3 {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--color-main);
}

.room__hosted p {
    text-transform: uppercase;
    color: var(--color-gray);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2;
}

.room__author {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

.room__author:hover {
    text-decoration: underline;
}

.room__topics {
    padding: 0.5rem 1.5rem;
    background: var(--color-dark-light);
    color: var(--color-light);
    display: inline-block;
    font-size: 1.4rem;
    border-radius: 1.5rem;
    margin: 1rem 0;
}

.room__conversation {
    margin-top: 1rem;
    margin-bottom: 4rem;
    height: 64%;
}

.threads h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-gray);
}

.threads {
    background: var(--color-bg);
    border-radius: 0.7rem;
    overflow-y: auto;
    height: 100%;
    margin-top: 28vh;
    padding: 0 2rem 4rem 2rem;
}

.thread {
    border-left: 2px solid var(--color-dark);
    padding-left: 1rem;
    margin: 2rem 0;
    padding: 2rem;
}

.thread__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thread__top svg {
    fill: var(--color-dark-light);
}

.thread__author {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.4rem;
}

.thread__authorInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.thread__details {
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

.room__message {
    padding: 2rem;
    position: absolute;
    z-index: 111;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

#content img {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

#content body {
    background-color: #fafafa;
}

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
}

#wrapper>.container {
    display: flex;
    padding: 0 8rem;
}

#wrapper .register {
    display: flex;
    justify-content: center;
    padding: 0 auto;
}

.form-data {
    width: 100%;
    max-width: 35rem;
    margin-top: 3rem;
    margin-right: 10rem;
}

.form-data-reg {
    max-width: 58rem !important;
}

.form-data-prof {
    max-width: 50rem !important;
}

.form-data form {
    background-color: #fff;
    border: 2px solid #eee;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
}

.logo img {
    width: 17.5rem;
    margin-bottom: 2.5rem;
}

.logo-reg img {
    width: 10rem;
    margin-bottom: 1rem;
}

.intro {
    color: #8e8e8e;
    color: rgba(var(--f52, 142, 142, 142), 1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;

}

/* .form-data label{
    display: none;
} */

.form-group .help-block {
    font-size: 1.2rem;
}

.form-data form input {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border: 2px solid #eee;
    border-radius: 0.4rem;
}

.form-btn {
    margin: 1rem 0 1.5rem;
    height: 3rem;
    background-color: #3897f0;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.has-separator {
    font-size: 1.3rem;
    color: #999999;
    position: relative;
    margin-bottom: 2.5rem;
}

.has-separator::before,
.has-separator::after {
    content: "";
    position: absolute;
    background-color: #eee;
    width: 40%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
}

.has-separator.has-separator::before {
    left: 0;
}

.has-separator.has-separator::after {
    right: 0;
}

.facebook-login {
    font-size: 1.4rem;
    font-weight: bold;
    color: #385185;
    margin-bottom: 2.5rem;
}

.facebook-login i {
    font-size: 2rem;
    margin-right: 0.7rem;
}

.password-reset {
    font-size: 1.2rem;
    color: #003569
}

.sign-up {
    text-align: center;
    font-size: 1.4rem;
    color: #262626;
    padding: 1rem 0;
    background-color: #fff;
    border: 2px solid #eee;
    margin: 1rem 0;
}

.sign-up a {
    color: #3897f0;
    font-weight: bold;
    font-size: 1.2rem;
}

.get-the-app {
    font-size: 1.4rem;
    text-align: center;
}

.get-the-app span {
    display: block;
    margin: 2rem 0;
    color: #262626;
}

.badges {
    width: 100%;
    display: flex;
    justify-content: center;
}

.badges img {
    max-width: 14rem;
    cursor: pointer;
}

.badges img:first-child {
    margin-right: 1rem;
}

footer {
    padding: 5rem 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    flex-wrap: wrap;
}

.footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer-nav ul li {
    margin-right: 1.6rem;
}

.footer-nav ul li a {
    color: black;
}

.copyright-notice {
    color: #999999;
}

@media (max-width: 1024px) {
    .phone-app-demo {
        display: none;
    }

    .form-data {
        margin: 0 auto;
    }

    footer .container {
        padding: 0 2rem;
        justify-content: center;
    }

    .footer-nav ul {
        justify-content: center;
    }

    .footer-nav ul li {
        margin-bottom: 1rem;
    }
}

@media(max-width: 450px) {
    .form-data form {
        background-color: transparent;
        border: none;
        padding: 0 2rem;
    }

    .sign-up {
        background-color: transparent;
        border: none;
        margin: 4rem 0;
    }

    footer {
        padding-bottom: 2rem;
    }
}

.room__message>form>input {
    resize: none;
    background-color: var(--color-dark-light);
    color: var(--color-light);
    border: none;
    outline: none;
    border-radius: 0.7rem;
    height: 4.5rem;
    width: 100%;
    margin-top: -1rem;
    padding: 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
}

.room__message>form>input::placeholder {
    color: var(--color-light-gray);
}

.participants__top span {
    color: var(--color-main);
    font-size: 1.3rem;
    text-transform: none;
}

.participants__top {
    justify-content: flex-start;
    gap: 0.5rem;
}

.participants__list {
    padding: 2rem;
    height: 82.5vh;
    overflow-y: scroll;
    padding-bottom: 0;
}

.participant {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.participant p {
    color: var(--color-light-gray);
    line-height: 1.2;
}

.participant span {
    display: block;
    font-weight: 500;
    color: var(--color-main);
    font-weight: 1.4rem;
}

form.nosubmit {
    border: none;
    padding: 0;
}

input.nosubmit {
    width: 260px;
    display: block;
    border-radius: 8px;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}


input.nosub {
    padding: 9px 4px 9px 40px;
    background: transparent url("https://www.svgrepo.com/show/105160/smiley-square-face.svg") no-repeat 0px center;
    background-size: 3%;
}

.sections {
    width: 100%;
    height: 70vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.sections::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.sections-one {
    position: relative;
    z-index: 2;
}

.section-two {
    position: absolute;
    top: 38%;
    left: 18%;
    z-index: 2;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -4rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    text-transform: uppercase;
}

.details-x {
    font-size: 1.5rem;
    color: white;
}

.details-x a {
    color: aquamarine;
}

.rates-x {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1rem;
}

.ratebox {
    width: 6rem;
    height: 6rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    outline: 3px solid mediumaquamarine;
    border-radius: 50%;
    margin: 2rem;
    margin-top: 3rem;
}

.pzxc {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
}


.stdx {
    position: absolute;
    top: 4rem;
    left: 3rem;
    color: white;
    z-index: 2;
}

.stdx>span {
    font-weight: 200;
    font-size: 1rem;
}

.secxz a {
    color: white;
    opacity: 1;
    font-weight: 900;
    font-size: 3rem;
}

.text-redx {
    color: red;
    background: white;
}

.text-redx strong {
    font-weight: 900;
    font-size: 1.2rem;
}

.visit-site {
    position: absolute;
    bottom: 2rem;
    padding: 0% 4%;
    z-index: 4;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.visit-site button {
    white-space: nowrap;
    outline: 1px solid aquamarine;
    border: none;
}

.visit-site button a {
    color: white;
    font-weight: 900;
    font-size: 1.25rem;
}

.delkey {
    float: right;
    margin-right: .8rem;
}

.visit-site button {
    white-space: nowrap;
    outline: 1px solid aquamarine;
    border: none;
}


.pbg {
    color: black;
    font-size: 2rem;
}



@media (max-width: 425px) {
    .sections {
        width: 100%;
        height: 35vh !important;
    }
}


.prof {
    padding-left: 2rem;
    padding-right: 2rem;
}

.full-profile {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details {
    display: flex;
    gap: 20px;
}

.counts {
    gap: 20px;
}

.counts-det {
    display: flex;
    gap: 1rem;
}

.images-list {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.text-red {
    color: red;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.fa-heart {
    font-size: 2rem;
}

.fa-solid {
    background: transparent;
}

.icon-x {
    font-size: 2.2rem;
}

.viewx {
    align-items: center;
    justify-content: center;
}

.opt {
    gap: 1rem;
}

.like-f {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-x {
    align-items: center;
    padding-top: 1%;
    gap: 1rem;
}

.likex {
    display: flex;
    align-items: center;
    padding-top: .2%;
}

.commentx {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formlx {
    display: flex;
    align-items: center;
}

.card-footer {
    background-color: white;
}

.trial {
    border: none;
    background-color: white;
    color: black;
    font-size: 1.2rem;
}

.trial:focus {
    border: none;
}

.tx {
    font-weight: 200;
}

.all {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
}

.side {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.xc {
    justify-content: space-between;
    align-items: center;
}

.fa-backward {
    color: white;
}

.full_login {
    display: flex;
    flex-direction: column;
}

.fm {
    text-align: left;
}

.viewx {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    background-color: white;
    padding: 0%;
    margin: 0%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.281);
}

.navbar {
    padding: 0%;
    margin: 0%;
}


.fullnav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0%;
}



/* The sidebar menu */
.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    font-weight: 900;
    display: block;
    transition: 0.3s;
}

.sidebar .x {
    font-size: .7rem;
}

.sx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 1rem;
    padding-right: .5rem;
}

.sx .fa-times {
    font-size: 1.5rem;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: lightblue;
}

/* The button used to open the sidebar */
.openbtn {
    cursor: pointer;
    color: black;
    font-weight: bold;
    width: max-content;
    border: none;
    background: none;
}

.openbtn:hover {
    transition: .4s;
    color: grey;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#mainside {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: .5rem 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.searchx input[type=text] {
    width: 25%;
    border: none;
    background-color: none;
    background-size: 1.5rem;
    margin-left: 1rem;
    background-image: url('https://www.freeiconspng.com/uploads/search-icon-png-21.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: transparent;
}



.one {
    display: flex;
    align-items: center;
    justify-content: center;
}

.oneone {
    border-right: 1px solid grey;
}

.ilogin a {
    text-decoration: none;
    font-weight: 900;
}


.two {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ax:hover {
    color: grey;
    transition: .6s;
}

.three {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0%;
    padding: 0%;
    font-size: 80%;
}

.ilogin {
    width: max-content;
    font-size: 100%;
    padding-right: 1rem;
    text-transform: uppercase;
}

.btn-dark {
    border-radius: 0%;
    line-height: normal;
    font-size: 100%;
    margin: 0%;
    background-color: black;
    color: white;
    font-weight: 900;
    white-space: nowrap;
}

.fullz {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    display: flex;
    align-items: center;
}

.btn-x {
    background-color: mediumaquamarine;
    color: white;
    font-size: 1.3rem;
    padding: .5rem 1.3rem;
    border-radius: 25px;
}

.photox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btnc {
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    width: max-content;
}

.btnc:hover {
    border: 1px solid mediumaquamarine;
    color: mediumaquamarine;
}

.visitsite {
    display: flex;
}

.upone {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.trxz {
    padding: .5rem .9rem;
    font-size: 1.5rem;
    outline: black;
    border: 1px solid black;
    border-radius: 50%;
}

.detailsz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.locdate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.smx {
    font-size: 1.2rem;
}

.searchx input[type=text]:focus {
    width: max-content;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: none;
    padding: 5%;
    color: grey;
    font-weight: 500;
    font-size: 1rem;
}

.logo svg {
    padding: 2%;
}

.grpx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
}

.cvb {
    font-size: 1.4rem;
}

.dropdown-toggle {
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
    font-weight: 900;
}

.btn-mx {
    color: white;
    background-color: black;
    white-space: nowrap;
    margin: 0%;
    font-weight: 900;
    line-height: 3.5rem;
    border-radius: 0%;
}

.xcvx {
    box-shadow: 0px 2px 5px rgb(180, 180, 180);
}

.card-img-top {
    width: 100%;
    height: 13vw;
    object-fit: cover;
}

.btny {
    border-radius: 50px;
    color: black;
    font-size: 1.1rem;
    outline: 2px solid mediumaquamarine;
}

.cnm {
    color: red;
}

.btn-center {
    margin-left: 4rem;
}

.frate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pxsec {
    height: 50vh
}

.finx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.layout__box__x {
    position: relative;
    align-self: center;
    width: 45rem;
    background-color: var(--color-dark);
    border-radius: 1rem;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
}

.todax{
    background-color: black;
    color: white;
    display: flex;
    font-size: 2rem;
    height: 30rem;
    font-weight: 900;
    align-items: center;
    text-align: center;
    justify-content: center;
}


#wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (min-width: 2100px) {
    html {
        font-size: 75%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sections{
        height: 100vh;
        font-size: 70%;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .sections{
        height: 100vh;
        font-size: 70%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .sections{
        height: 50vh;
        font-size: 70%;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .sections{
        height: 50vh;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .sections{
        height: 50vh;
    }
  }