{% extends 'main.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
{% include 'admin_nav.html' %}

{% if count_ > 0 %}

<div class="container">
    <div class="row">
        <style>
            .card {
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
                padding: 1rem !important
            }

            .top-container {
                display: flex;
                align-items: center
            }

            .name {
                font-weight: bold;
                color: #272727;
                position: relative;
                top: 8px;
            }

            .mail {
                color: grey;
                position: relative;
                top: 2px;
            }
        </style>
        {% for resident in residents_search %}
        <div class="col-md-3 mb-2">
            <div class="card">
                <a class="f-right text-decoration-none text-white" href="{% url 'delete-resident' resident.id %}"><i
                        class="fa fa-times text-black f-right" aria-hidden="true"></i></a>
                <div class="top-container">
                    {% if resident.profile_photo %}
                    <img src="{{resident.profile_photo.url}}" alt="" class=" img-fluid img-thumbnail" width="70">
                    {% else %}
                    <img src="{% static 'images/avatar.jpg' %}" alt="" class=" img-fluid img-thumbnail" width="70">
                    {%endif%}
                </div>
                <div class="">
                    <h5 class="name">{{resident.user.username}}</h5>
                    <p class="mail">{{resident.user.email}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% elif count_ == 0 %}
<h1 class="text-center">No Residents found!!!</h1>

{% else %}
<div class="container-fluid admin">
    <div class="admin-blank">
        <strong class="text-center">Welcome To Neighbourhood-X</strong>
        <div>
            <p style="font-size: large; width: max-content;" class="bg-dark p-1">As an administrator, you get to:</p>
            <ul class="text-white" style="text-align: left;">
                <li style="font-size: small;">You can add residents to the neighbourhood map(click to get latitude and longitude first and add respectively)</li>
                <li style="font-size: small;">You can add social services to the neighbourhood map</li>
                <li style="font-size: small;">You can send alerts to the residents</li>
            </ul>
            <p style="font-size: large; width: max-content;" class="bg-dark p-1">Basic Map Instructions</p>
            <ul style="text-align: left;">
                <li style="font-size: small; list-style: upper-roman;" class="text-white">Click on a marker to get more
                    details</li>
                <li style="font-size: small; list-style: upper-roman;" class="text-white">Hover on the lines to see the
                    distance from the headquarters to a given place in the neighbourhood </li>
                <h5>MAP KEY</h5>
                <li style="font-size: small; list-style: armenian;" class="text-white"><i class="fa fa-credit-card pq"
                        aria-hidden="true"></i> represents a bank, <i class="fa fa-home pq" aria-hidden="true"></i>
                    represents the Headquarters,
                    <br>
                    <i class="fa fa-shopping-cart pq" aria-hidden="true"></i> represents a Business, <i
                        class="fa fa-user pq" aria-hidden="true"></i> represents a Resident,
                    <br>
                    <i class="fa fa-flag pq" aria-hidden="true"></i> represents a Police Post, <i class="fa fa-book pq"
                        aria-hidden="true"></i>
                    represents a School,
                    <br>
                    <i class="fa fa-heart pq" aria-hidden="true"></i> represents a Hospital.

                </li>
            </ul>
        </div>
    </div>
    <div class="admin-map">
        <p class="text-center p-txt">{{hood.name}} Hood</p>
        <strong> {{map | safe}}</strong>
    </div>
</div>

<div class="container">
    <p class="text-center p-1"><strong>{{hood.name}}</strong> Neighbourhood: {{hood.address}} -- {{hood.location}}</p>
    <p><strong>Resident Posts</strong></p>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-3">
            <div class="card text-white bg-black mb-4 p-1" style="max-width: 15rem; max-height: 9rem; font-size: small;">
                <div class="card-header">{{post.posted | timesince}} ago</div>
                <div class="card-body">
                    <h5 class="card-title card post-card" style="font-size: small;">{{post.body}}</h5>
                    <p class="card-text">By: {{post.poster}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
{% endif %}

<!-- {{hood.occupants}} -represents
{% endblock content %}