<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid navbar-x">
        <a class="navbar-brand" href="{% url 'adminDashboard' %}"><strong>Admin: {{hood.admin.user.username | upper}}
            </strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-tr">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="resident name . . ." name="q"
                        aria-label="Search">
                    <button class="btn btn--dark" type="submit">Search</button>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-resident' %}">Add Resident</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'social-services' %}">Add Social Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post' %}">Alert</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view-residents' %}">Residents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'adjust' %}">Adjust</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>